/* Import Font Google */
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins&display=swap");

/* All */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

/* Background */
.background {
  width: 100%;
  position: relative;
  padding: 0 100px;
  height: 65vh;
  background-image: url("/assets/delivery.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Navbar */
nav {
  left: 0;
  transition: 0.6s ease-in-out;
  z-index: 1000;
}
.navbar{
    padding: 40px 100px!important;
}
nav .navbar-brand {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.6em;
  font-family: "Outfit";
  transition: 0.4s ease;
}
nav .navbar-brand:hover {
  color: red !important;
}
nav ul li a {
  color: #fff !important;
  font-weight: 400;
  padding: 0 8px !important;
  transition: 0.4s ease;
}
nav ul li a:hover {
  padding: 0 15px !important;
  color: red !important;
  font-weight: bold;
}
.navbar-toggler {
  background: rgba(255, 255, 255, 0) !important;
  border: solid 1px #aaa !important;
}

/* addEventListener */
.navbar.sticky {
  padding: 20px 100px!important;
  background: #fff;
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
}
nav.sticky ul li a {
  color: #000 !important;
}
nav.sticky ul li a:hover{
    color: red!important;
}
nav.sticky .navbar-brand {
  color: #000 !important;
}
nav .navbar-brand {
  position: relative;
  font-size: 1.5em;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.5s;
}
nav .navbar-brand:hover {
  color: red !important;
}

/* Dropdown todo's */
.dropdown ul{
  width: 450px;
  top: 30px;
  transition: 0.6s ease;
  left: -390px;
  transition: 0.6s ease-in;
}

/* Banner */
.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 65vh;
  background: #000;
  opacity: 40%;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 111;
}

/* Jumbotron */
.jumbotron {
  top: 10%;
  padding: 30px;
  z-index: 222;
  left: 0;
  color: #fff;
  transition: 0.5s ease-in-out;
  position: inherit;
  background: rgba(255, 255, 255, 0) !important;
}
.jumbotron h1 {
  font-size: 2.2em;
}
.jumbotron .lead {
  font-size: 1em;
}
.jumbotron button {
  font-family: "Poppins";
}
button {
  padding: 10px !important;
  background-color: red !important;
  border: solid 1px red !important;
  transition: 0.5s ease !important;
}
button:hover {
  background-color: #007bff !important;
  border: solid 1px #007bff !important;
}

/* Alert Button */
.alert-order{
  position:absolute;
  height: auto;
  top: -60%;
  z-index: 999!important;
}
.modal-backdrop{
  position: relative;
}
.table tr th{
  text-align: left;
  padding: 10px 30px;
}
.table tr td{
  text-align: left;
}

/* Main Section */
.box-list {
  margin-top: -11%;
  z-index: 888;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.box {
  padding: 30px 10px;
  background-color: #fff;
  transition: 0.6s ease;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
}
.box:hover {
  z-index: 2;
  box-shadow: 0px 5px 15px 5px rgba(0, 0, 0, 0.3);
}
.box .icon {
  font-size: 1.8em;
  color: red;
  text-align: center;
}
.box .title-box {
  color: #000;
  font-size: 1.2em;
  font-family: "Outfit";
  text-align: center;
  font-weight: bold;
}
.lead {
  color: #aaa;
  font-size: 1em;
  font-family: "Inter";
}

/* about-us */
#about-us .title-text{
    text-transform: uppercase;
    font-family: 'Outfit';
}
.card-list {
  gap: 20px;
}
.card img {
  min-width: 100px;
  max-width: 150px;
  border-radius: 100%;
}
.carousel-item .card{
  padding: 30px 10px;
}
.carousel-item .card .icon img{
  width: 25px!important;
}
.carousel-control-prev,.carousel-control-next{
  width: 50px;
}

/* Portofolio */
#pf{
    background: red;
}

/* Contact Us */
#contact-us{
}
#contact-us .title-text{
  text-transform: uppercase;
  font-family: 'Outfit';
}
.cu .title-text{
  font-size: 2em;
  font-weight: bold;
}
.cu form{
  border-radius: 20px;
}
.card-body .title-text{
  font-size: 1em;
  font-weight: bold;
  padding-bottom: 30px;
}
.box-cu .lead{
  color: #fff!important;
  font-family: 'Poppins';
  font-weight: normal;
}
.box-cu .box{
  width: 250px;
  background-color: red;
}
.box-cu .box .icon{
    color: #fff!important;
}
.card .card-img img{
  width: 100%;
  border-radius: 0;
}

/* INFORMATION PLUS */
div.col-9:nth-child(2) > button:nth-child(2){
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-top: 13%;
}
div.col-9:nth-child(2) > button:nth-child(3){
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-top: 13%;

}
.join-text h1{
  font-size: 1.4em;
  font-weight: 600!important;
  font-family: 'Outfit'!important;
}

/* blog */
.join-now .card-s{
  background: red!important;
}
.col-3 button{
  background-color: #fff!important;
  color: red;
  font-weight: 600!important;
  font-family: 'Outfit';
}
.col-3 button:hover{
  padding: 30px;
  border: solid 2px #fff!important;
  background-color: red!important;
  color: white!important;
}
/* footer */
footer{
  background: red;
}
.row-foo .text-title{
  font-size: 0.8em;
  font-weight: bold;
  text-align: left;
  padding: 0 1.3em!important;
  color: #fff!important;
  margin-bottom: 0;
}
.row-foo ul{
  list-style-type: none;
}
.row-foo ul li a{
text-align: left;
font-size: 0.7em;
color: #fff!important;
}
.row-foo ul li a span:hover{
  border-bottom: solid 1px #fff!important;
}
.row-foo ul li a{
  gap: 10px;
}
.contact .nav-item .nav-link .icon{
  font-size: 1.3em;
}
.contact .nav-item .nav-link span{
  font-size: 1.3em;
}